@* 1. Указываем, что моделью является коллекция наших DTO *@
@model IEnumerable<FRM.Core.DTOs.ThreadDto>
@using FRM.BuisnessLogic.Helper; 

@{
    ViewBag.Title = "Список тем";
}

@*
    Подключаем стили прямо здесь для удобства. В идеале их нужно перенести
    в BundleConfig.cs или в _Layout.cshtml.
*@
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<style type="text/css">
    .main-content {
        margin-top: 20px;
    }

    .icon-1x {
        font-size: 24px !important;
    }

    a {
        text-decoration: none;
    }

        .text-primary, a.text-primary:focus, a.text-primary:hover {
            color: #00ADBB !important;
        }

    .text-black, .text-hover-black:hover {
        color: #000 !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }
</style>

<div class="container main-content">
    <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3">
            <div class="row text-left mb-5">
                <div class="col-lg-6 mb-3 mb-sm-0">
                    @* Фильтры пока оставим как есть, они не влияют на логику *@
                    <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
                        <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" data-toggle="select" tabindex="-98">
                            <option> Categories </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    @* 3. Правильно формируем ссылку на страницу создания треда *@
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Thread")">Создать новую тему</a>
                </div>
            </div>

            @* 2. Главный цикл. Вместо 20-ти одинаковых блоков у нас будет один, который повторяется для каждого треда *@
            @if (Model != null && Model.Any())
            {
                foreach (var thread in Model)
                {
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    @* 3. Правильная ссылка на страницу просмотра конкретного треда *@
                                    <a href="@Url.Action("View", "Thread", new { id = thread.Id })" class="text-primary">@thread.Title</a>
                                </h5>
                                <p class="text-sm">
                                    <span class="op-6">Опубликовано</span>
                                    <a class="text-black" href="#">@TimeHelper.TimeAgo(thread.CreatedAt)</a> @* Используем хелпер времени *@
                                    <span class="op-6">автором</span>
                                    <a class="text-black" href="@Url.Action("Index", "Profile", new { id = thread.AuthorId })">@thread.AuthorName</a>
                                </p>
                                @* Тэги пока можно скрыть или оставить как заглушку, так как их нет в модели *@
                                <!-- <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Tags</a> </div> -->
                            </div>
                            @* --- БЛОК С КНОПКОЙ УДАЛЕНИЯ --- *@
                            @if (User.Identity.IsAuthenticated && thread.AuthorId == (Guid)ViewBag.CurrentUserId)
                            {
                                <div class="mt-2">
                                    @using (Html.BeginForm("DeleteThread", "Thread", new { id = thread.Id }, FormMethod.Post, new { @style = "display:inline;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены, что хотите удалить эту тему?');">
                                            Удалить тему
                                        </button>
                                    }
                                </div>
                            }
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    @* Данные, которых пока нет в модели, оставляем как заглушки *@
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">0 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">@thread.CommentCount Ответы</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">0 Просмотры</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card p-4">
                    <p class="text-center">Пока не создано ни одной темы. <a href="@Url.Action("Create", "Thread")">Станьте первым!</a></p>
                </div>
            }

        </div>
        <!-- Sidebar content -->
        <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
            @* Кнопка "Ask Question" была здесь, мы ее перенесли выше и сделали правильной *@
            @* Блок "Active Topics" и "Stats" пока оставляем статичными, их можно будет наполнить позже *@
            <div class="bg-white mb-3">
                <h4 class="px-3 py-4 op-5 m-0">Активные темы</h4>
                <hr class="m-0">
                <p class="p-3">Здесь будет список тем...</p>
            </div>
            <div class="bg-white text-sm">
                <h4 class="px-3 py-4 op-5 m-0 roboto-bold">Статистика</h4>
                <hr class="my-0">
                <div class="row text-center d-flex flex-row op-7 mx-0">
                    <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <a class="d-block lead font-weight-bold" href="#">@Model.Count()</a> Темы </div>
                    <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0"> <a class="d-block lead font-weight-bold" href="#">...</a> Посты </div>
                </div>
            </div>
        </div>
    </div>
</div>